# Build Maven
target/
build/

*.log
logs/

*.class

.idea/
*.iml
*.ipr
*.iws

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

.vscode/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

frontend/node_modules/

frontend/dist/
dist/

.DS_Store
Thumbs.db